<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Preferences</subitemtitle>
					<subitemlang>bit_preferences</subitemlang>
					<subsection>preferences</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Permissions</subitemtitle>
					<subitemlang>bit_permissions</subitemlang>
					<subsection>permissions</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Announce</subitemtitle>
					<subitemlang>bit_announce</subitemlang>
					<subsection>announce</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Security</subitemtitle>
					<subitemlang>bit_security</subitemlang>
					<subsection>security</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Storage</subitemtitle>
					<subitemlang>bit_storage</subitemlang>
					<subsection>storage</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Scrape</subitemtitle>
					<subitemlang>bit_scrape</subitemlang>
					<subsection>scrape</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Paid Files Settings</title>
			<subitems>
				<subitem>
					<subitemtitle>Paid Files Settings</subitemtitle>
					<subitemlang>bit_paidfiles</subitemlang>
					<subsection>nexus</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
			<condition><![CDATA[
					return IPSLib::appIsInstalled( 'nexus' );
				]]></condition>
		</item>
	</tabitems>
</menu>