<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<tabitems>
		<item>
			<title>Custom Fields</title>
			<subitems>
				<subitem>
					<subitemtitle>Custom Fields</subitemtitle>
					<subitemlang>bit_cfields</subitemlang>
					<subsection>cfields</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Mime Types</title>
			<subitems>
				<subitem>
					<subitemtitle>Mime Types</subitemtitle>
					<subitemlang>bit_mimetypes</subitemlang>
					<subsection>mimetypes</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>
		<item>
			<title>Tracker Style</title>
			<subitems>
				<subitem>
					<subitemtitle>Tracker Style</subitemtitle>
					<subitemlang>bit_trackerstyle</subitemlang>
					<subsection>trackerstyle</subsection>
					<subitemurl></subitemurl>
					<subitemrolekey></subitemrolekey>
					<subisredirect>0</subisredirect>
				</subitem>
			</subitems>
		</item>			
	</tabitems>
</menu>